.navbar {
  box-shadow: 0.3rem 0.3rem 1em rgba(0, 0, 0, 0.3);
}

.navbar.bg-dark, .navbar.bg-transparent {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px;
}

.nav-link {
  color: black !important;
  border-radius: 5px;
}

.nav-link:hover {
  color: white !important;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.search {
  padding: 5px;
  margin-left: 10px;
  width: 36px;
  color: black !important;
}

.search:hover {
  color: white !important;
  border: 1px solid white;
  background-color: black;
  border-radius: 10px;
}

.breadcrumb-item {
  color: #9E9E9E;
  text-decoration: none;
}
