.navbar {
  box-shadow: none;
}

.normal-nav {
  box-shadow: 0.3rem 0.3rem 1em rgba(0, 0, 0, 0.3);
  background-color: white;
}

.navbar.normal-nav, .navbar.bg-transparent {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.navbar-nav .nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  padding: 5px;
}

/* Main Menu Color */
.navbar-nav .nav-item .nav-link {
  color: white !important;
  border-radius: 5px;
}

.navbar-collapse.show {
  margin-top: 20px;
}

.navbar-collapse.show .navbar-nav .nav-item .nav-link {
  color: black !important;
}

.navbar-normal .nav-item .nav-link {
  color: black !important;
  border-radius: 5px;
}

.navbar-nav .nav-item .nav-link:hover {
  background-color: var(--primary-color);
  border-radius: 5px;
}

.navbar-normal .nav-item .nav-link:hover {
  color: white !important;
  background-color: var(--primary-color);
  border-radius: 5px;
}

.navbar-collapse.show .navbar-nav .nav-item .nav-link:hover {
  color: white !important;
}

.search {
  padding: 5px;
  margin-left: 10px;
  width: 36px;
}

.secondary-menu .search {
  color: black !important;
}

.search:hover {
  background-color: white;
  border-radius: 10px;
  color: black !important;
}

.secondary-menu .search:hover {
  color: white !important;
  background-color: black !important;
  border-radius: 10px;
}

#main-header {
  background-image: url("../img/home-header.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -88px;
  left: 0;
}

#register-form {
  margin-left: 100px;
}

/*----------------About Section----------------*/

#laptop-block {
  background-image: url("../img/laptop.png");
  background-size: cover;
  background-position: center;
}

.card-purple {
  width: 215px;
  height: 225px;
  background-color: var(--primary-color);
  border: 1px solid var(--primary-color)
}

.about-image {
border-radius: 5px;
}

/*------------Course info---------------*/

.card-icon {
  width: 64px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: 3px;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
}

.card-icon svg {
  margin-right: auto;
  margin-left: auto;
}

.card-body h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card-body a {
  text-decoration: none;
}

.card-body a small {
  color: black;
  font-size: 14px;
}


/*----------------Course Section ----------------*/

.nav-pills .nav-item .nav-link {
  color: #9E9E9E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: var(--primary-color);
}

/*---------- Training Section -----------*/

.countBox {
  width: 120px;
  height: 120px;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: white;
}

#spiralLine {
  margin-top: -50px;
  margin-right: -15px;
  width: 420px;
  /*transform: rotate(-20deg);*/
}

.backBoard {
  width: 500px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: -135px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 40px 50px 120px;
}

.profile-image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 5px;
}

#profile-peek {
  width: 190px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: -255px;
  margin-left: 40px;
  margin-right: auto;
  position: relative;
  text-align: center;
}

/*---------------- Consult ----------------*/
#spiralLine2 {
  margin-top: -15px;
  margin-right: -70px;
  width: 250px;
}

.backBoard2 {
  width: 450px;
  height: 480px;
  margin-top: -75px;
  padding: 0;
  display: flex;
}

.user-profile {
  height: 40px;
  width: 40px;
  background-color: #EFEFEF;
  color: #BDBDBD;
  font-size: 22px;
  padding-top: 6px;
}

.sendBtn {
  height: 30px;
  width: 30px;
  background-color: #EFEFEF;
  color: #BDBDBD;
  font-size: 18px;
  padding-top: 5px;
  margin-top: 4px;
  margin-left: -10px;
  margin-right: auto;
}

/*---------------- Blog -------------*/
.read-more {
  text-align: end;
  display: block;
}

.read-more small {
  color: var(--primary-color) !important;
}

.weblog-slider {
  min-width: 400px !important;
}

/*----------------Slider Codes--------------*/

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.hs {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
}

.hs__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.hs__headline {
  flex: 1;
}

.hs__arrows {
  align-self: center;
}

.hs__arrows .arrow:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: var(--primary-color) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+DQoJPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTcuODY3IDguNTc0bC03LjIyLTcuMjIuNzA3LS43MDhMNy44NjcgNy4xNiAxNC4wNS45OGwuNzA2LjcwNyIvPg0KPC9zdmc+") no-repeat center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.hs__arrows .arrow.disabled:before {
  filter: brightness(2);
}

.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
}

.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
}

.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}

.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}

.hs__item:first-child {
  margin-left: calc(10px * 2);
}

.hs__item__subtitle {
  color: #aaa;
  display: block;
}

.hs__item__wrapper {
  position: relative;
  min-height: 300px;
  min-width: 300px;
}

.hs__item__card {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}

@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }

  .hs__wrapper .hs__item {
    flex: 1 0 calc(23% - 10px * 2);
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
.description {
  max-width: 990px;
  color: #212121;
  margin: 0 auto;
  padding: calc(10px * 4);
}

ul {
  padding: 0;
  margin: 0;
}

/*---------- Message Box Codes ----------------*/

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(1),
.chat-bubbles-container .chat-bubble.writing .dot:nth-child(2),
.chat-bubbles-container .chat-bubble.writing .dot:nth-child(3) {
  animation-name: chatBubblesDots;
  animation-duration: 1s;
  animation-iteration-count: infinite
}

@keyframes chatBubblesDots {
  0%,
  100% {
    top: 0
  }
  50% {
    top: -4px
  }
}

.chat-bubbles-container {
  width: 550px;
  padding-top: 50px;
  height: 380px;
  overflow-y: hidden
}

.chat-bubbles-container .chat-bubble {
  top: 600px;
  opacity: 0;
  width: 62%;
  margin-bottom: 10px;
  padding: 2.5%;
  border-radius: 10px;
  position: relative;
  font-size: 12px;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
}

.chat-bubbles-container .chat-bubble.left {
  float: left;
  clear: both;
  background: #FFFFFF;
}

.chat-bubbles-container .chat-bubble.right {
  float: right;
  clear: both;
  background: #212121;
  color: white;
}

.chat-bubbles-container .chat-bubble.writing {
  opacity: 0;
  top: inherit !important;
  bottom: 0 !important;
  width: 67px;
  float: left;
  clear: both;
  padding: 3%
}

.chat-bubbles-container .chat-bubble.writing .dot {
  position: relative;
  background: #000;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: left;
  margin-right: 5px
}

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(2) {
  animation-delay: .2s
}

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(3) {
  animation-delay: .5s
}

/*---- Small ---*/
@media only screen and (max-width: 576px) {

}

/*---- Medium ---*/
@media only screen and (max-width: 768px) {
  .social-icon-box a {
    margin: auto;
  }
}
