/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/*Custom Fonts*/

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/YekanBakh-bold.ttf') format('truetype');
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: 100;
  src: url('../fonts/YekanBakh-light.ttf') format('truetype');
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/YekanBakh-light.ttf') format('truetype');
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/YekanBakh.ttf') format('truetype');
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/YekanBakh-Medium.ttf') format('truetype');
}

@font-face {
  font-family: yekanbakh;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/YekanBakh-Heavy.ttf') format('truetype');
}

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
:root {
  --primary-color: #9164E8;
}

body {
  font-family: yekanbakh, Tahoma, serif !important;
}

h1, h2, h3, h4, h5 {
  font-weight: bold;
}

p {
  text-align: justify;
}

small {
  color: var(--primary-color);
}

.navbar.bg-dark, .navbar.bg-transparent {
  -webkit-transition: background-color 0.2s ease-out;
  -moz-transition: background-color 0.2s ease-out;
  -o-transition: background-color 0.2s ease-out;
  transition: background-color 0.2s ease-out;
}

.nav-item {
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.search svg:hover {
  color: black;
}

/* Main Menu Color */
#navbarSupportedContent > ul > li > a {
  color: white !important;
  border-radius: 5px;
}

#navbarSupportedContent ul li a:hover {
  background-color: var(--primary-color);
  border-radius: 5px;
}

#main-header {
  background-image: url("/img/Mask Group 1.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  top: -88px;
  left: 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-primary {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

.btn-primary:hover {
  color: var(--primary-color);
  background-color: white;
  border-color: var(--primary-color);
}

.btn-primary:focus {
  color: white;
  background-color: var(--primary-color);
  border-color: var(--primary-color);
}

section {
  margin: 100px 0;
  padding: 0 30px;
}

#laptop-block {
  width: 215px;
  background-image: url("../img/laptop.png");
  background-size: cover;
  background-position: center;
}

.card-icon {
  width: 64px;
  height: 64px;
  background-color: var(--primary-color);
  border-radius: 3px;
  font-size: 2rem;
  color: white;
  display: flex;
  align-items: center;
}

.card-icon svg {
  margin-right: auto;
  margin-left: auto;
}

.card-body h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.card-body a {
  text-decoration: none;
}

.card-body a small {
  color: black;
  font-size: 14px;
}

/*----------------Course Section ----------------*/

#filter-tab > li > button {
  color: #9E9E9E;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff !important;
  background-color: var(--primary-color);
}

.justify-start {
  margin-left: auto;
}

.justify-end {
  margin-right: auto;
}

/*---------- Training Section -----------*/

.countBox {
  width: 120px;
  height: 120px;
  background-color: var(--primary-color);
  border-radius: 10px;
  text-align: center;
  padding-top: 20px;
  color: white;
  z-index: 5;
}

#spiralLine {
  margin-top: -50px;
  margin-right: -15px;
  width: 420px;
  /*transform: rotate(-20deg);*/
}

.backBoard {
  width: 500px;
  height: 310px;
  border-radius: 10px;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: -135px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 80px 40px 50px 120px;
}

.profile-image {
  width: 72px;
  height: 72px;
  border-radius: 50%;
  margin: 5px;
}

#profile-peek {
  width: 190px;
  height: 200px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  margin-top: -255px;
  margin-left: 40px;
  margin-right: auto;
  position: relative;
  text-align: center;
}

/*--------------- At a Glance Section ---------------------*/

.info-box {
  width: 235px;
  height: 175px;
  border-radius: 10px;
  background-color: white;
  box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  text-align: center;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.info-box > h4 {
  margin-top: 20px;
}

.icon-box {
  border-radius: 10px;
  background-color: var(--primary-color);
  padding: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 64px;
  height: 64px;
}

.icon-box > svg {
  margin-top: 5px;
}

/*---------------- Consult ----------------*/
#spiralLine2 {
  margin-top: -15px;
  margin-right: -70px;
  width: 250px;
}

.backBoard2 {
  width: 450px;
  height: 480px;
  margin-top: -75px;
  padding: 0;
  display: flex;
}

.user-profile {
  height: 40px;
  width: 40px;
  background-color: #EFEFEF;
  color: #BDBDBD;
  font-size: 22px;
  padding-top: 6px;
}

.sendBtn {
  height: 30px;
  width: 30px;
  background-color: #EFEFEF;
  color: #BDBDBD;
  font-size: 18px;
  padding-top: 5px;
  margin-top: 4px;
  margin-left: -10px;
  margin-right: auto;
}

/*---------------- Blog -------------*/
.read-more {
  text-align: end;
  display: block;
}

.read-more small {
  color: var(--primary-color) !important;
}

.weblog-slider {
  min-width: 400px !important;
}

/*--------------------- Footer ------------------*/

footer {
  margin-top: 200px;
  height: 410px;
}

footer .social-icon {
  background-color: #404040;
  height: 90px
}

.social-icon-box a {
  color: white;
  font-size: 22px;
  line-height: 1rem;
  margin-top: 10px;
}

.social-icon-box a:hover {
  color: var(--primary-color);
}

.social-icon-box a svg {
  margin: 0 30px;
}

.footer-part {
  height: 100%;
  background-color: #212121;
  padding-top: 50px;
}

.footer-links {
  margin-right: 50px;
}

.footer-links a {
  display: block;
  color: white;
  font-weight: bold;
  text-decoration: none;
  line-height: 2rem;
}

/*----------------Slider Codes--------------*/

* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  /* Webkit */
  width: 0;
  height: 0;
}

.hs {
  display: flex;
  overflow-x: scroll;
  justify-content: space-between;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* IE 10+ */
  -webkit-overflow-scrolling: touch;
}

.hs__header {
  display: flex;
  align-items: center;
  width: 100%;
}

.hs__headline {
  flex: 1;
}

.hs__arrows {
  align-self: center;
}

.hs__arrows .arrow:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  background: var(--primary-color) url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNSIgaGVpZ2h0PSI5IiB2aWV3Qm94PSIwIDAgMTUgOSI+DQoJPHBhdGggZmlsbD0iI2ZmZmZmZiIgZD0iTTcuODY3IDguNTc0bC03LjIyLTcuMjIuNzA3LS43MDhMNy44NjcgNy4xNiAxNC4wNS45OGwuNzA2LjcwNyIvPg0KPC9zdmc+") no-repeat center;
  width: 48px;
  height: 48px;
  cursor: pointer;
  border: 1px solid var(--primary-color);
  border-radius: 5px;
}

.hs__arrows .arrow.disabled:before {
  filter: brightness(2);
}

.hs__arrows .arrow.arrow-prev:before {
  transform: rotate(90deg);
  margin-right: 10px;
}

.hs__arrows .arrow.arrow-next:before {
  transform: rotate(-90deg);
}

.hs__item {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(100% / 4 - (10px * 2) - (20px / 4));
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media only screen and (max-width: 990px) {
  .hs__item {
    flex-basis: calc(100% / 3 - (10px * 2) - (20px / 3));
  }
}

.hs__item:last-child:after {
  content: "";
  display: block;
  position: absolute;
  width: 10px;
  height: 1px;
  right: calc(10px * 2 * -1);
}

.hs__item:first-child {
  margin-left: calc(10px * 2);
}

.hs__item__subtitle {
  color: #aaa;
  display: block;
}

.hs__item__wrapper {
  position: relative;
  min-height: 300px;
  min-width: 300px;
}

.hs__item__card {
  pointer-events: none;
  position: absolute;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

@media only screen and (min-width: 990px) {
  .hs__wrapper {
    overflow: hidden;
  }
}

@media (hover: none) and (pointer: coarse) {
  .hs__wrapper .hs__arrows {
    display: none;
  }

  .hs__wrapper .hs__item {
    flex: 1 0 calc(23% - 10px * 2);
  }
}

@media only screen and (hover: none) and (pointer: coarse) and (max-width: 990px) {
  .hs__wrapper .hs__item {
    flex: 1 0 calc(45% - 10px * 2);
  }
}

/* Base Styling */
.description {
  max-width: 990px;
  color: #212121;
  margin: 0 auto;
  padding: calc(10px * 4);
}

ul {
  padding: 0;
  margin: 0;
}

/*---------- Message Box Codes ----------------*/

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(1),
.chat-bubbles-container .chat-bubble.writing .dot:nth-child(2),
.chat-bubbles-container .chat-bubble.writing .dot:nth-child(3) {
  animation-name: chatBubblesDots;
  animation-duration: 1s;
  animation-iteration-count: infinite
}

@keyframes chatBubblesDots {
  0%,
  100% {
    top: 0
  }
  50% {
    top: -4px
  }
}

.chat-bubbles-container {
  width: 550px;
  padding-top: 50px;
  height: 380px;
  overflow: hidden
}

.chat-bubbles-container .chat-bubble {
  top: 600px;
  opacity: 0;
  width: 62%;
  margin-bottom: 10px;
  padding: 2.5%;
  border-radius: 10px;
  position: relative;
  font-size: 12px;
  box-shadow: 0.1em 0.1em 1em rgba(0, 0, 0, 0.3);
}

.chat-bubbles-container .chat-bubble.left {
  float: left;
  clear: both;
  background: #FFFFFF;
}

.chat-bubbles-container .chat-bubble.right {
  float: right;
  clear: both;
  background: #212121;
  color: white;
}

.chat-bubbles-container .chat-bubble.writing {
  opacity: 0;
  top: inherit !important;
  bottom: 0 !important;
  width: 67px;
  float: left;
  clear: both;
  padding: 3%
}

.chat-bubbles-container .chat-bubble.writing .dot {
  position: relative;
  background: #000;
  width: 8px;
  height: 8px;
  border-radius: 100%;
  float: left;
  margin-right: 5px
}

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(2) {
  animation-delay: .2s
}

.chat-bubbles-container .chat-bubble.writing .dot:nth-child(3) {
  animation-delay: .5s
}

/*-------------------- Search Bar -----------------------*/

#search-menu {
  position: fixed;
  width: 100%;
  height: 20em;
  top: -20em;
  left: 0;
  right: 0;
  white-space: nowrap;
  z-index: 9999;
  background: -moz-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0.8)), color-stop(50%, rgba(0, 0, 0, 0.8)), color-stop(100%, rgba(0, 0, 0, 0.01)));
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: -ms-linear-gradient(top, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.8) 50%, rgba(0, 0, 0, 0.01) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#cc000000", endColorstr="#1a000000",GradientType=0);
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}
#search-menu.toggled {
  top: 0;
  opacity: 1;
  visibility: visible;
}
#search-menu .wrapper {
  position: relative;
  margin: 3em auto 0 auto;
  padding: 0 1em;
}
#search-menu .wrapper input {
  width: 90%;
  padding: 0 0 0.125em 0;
  background: transparent;
  border: none;
  border-bottom: 3px solid #bfbfbf;
  font-size: 4em;
  color: #bfbfbf;
}
#search-menu .wrapper input:focus {
  outline: none;
}
#search-menu .wrapper button {
  position: absolute;
  display: block;
  width: 10%;
  left: 10%;
  top: 0;
  background: transparent;
  border: none;
  color: #bfbfbf;
  font-size: 4em;
  -webkit-transition: 500ms ease all;
  -moz-transition: 500ms ease all;
  transition: 500ms ease all;
}
#search-menu .wrapper button:hover {
  color: #fff;
}
#search-menu .wrapper button:focus {
  outline: none;
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (max-width: 990px) {
  /* Style adjustments for viewports that meet the condition */
  /*#navbar {*/
  /*  background-color: var(--bs-dark) !important;*/
  /*}*/
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

